<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pico.min.css">
    <title>KM</title>
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li><strong><a href="/"> KM</a></strong></li>
                </ul>
                <ul>
                    <li>
                        <input type="text" name="search" id="search">
                        <a href="/new" role="button">New</a>
                    </li>
                </ul>
            </nav>
        </header>

        <ul>
            {{range .}}
            <li>{{.Created}} - <a href="/notes/{{.ID}}">{{.Title}}</a></li>
            {{end}}
        </ul>
    </div>
</body>

</html>

<script>
    document.getElementById("search").addEventListener('keypress', (e) => {
        if (e.key == 'Enter') {
            e.preventDefault();
            window.location.href = "/search?q=" + encodeURIComponent(document.getElementById("search").value);
        }
    })

</script>