<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pico.min.css">
    <title>KM</title>
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li><strong><a href="/"> KM</a></strong></li>
                </ul>
                <ul>
                    <li>
                        <input type="text" name="search" placeholder="Search" id="search">
                    </li>
                    <li>
                        <a href="/new" role="button">New</a>
                    </li>
                </ul>
            </nav>
        </header>

        <ul>
            {{range .}}
            <li>{{.Created}} - <a href="/notes/{{.ID}}">{{.Title}}</a></li>
            {{end}}
        </ul>

        <div class="grid">
            <button id="prev">Prev</button>
            <button id="next">Next</button>
        </div>
    </div>
</body>

</html>

<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const page = urlParams.get('page');
    let pagenum = Number(page);

    const path = window.location.pathname;

    if (pagenum < 1) {
        document.getElementById("prev").disabled = true;
    }


    document.getElementById("prev").addEventListener('click', (e) => {
        e.preventDefault();
        pagenum -= 1;
        window.location.href = path + "?page=" + pagenum;
    });

    document.getElementById("next").addEventListener('click', (e) => {
        e.preventDefault();
        pagenum += 1;
        window.location.href = path + "?page=" + pagenum;
    });

    document.getElementById("search").addEventListener('keypress', (e) => {
        if (e.key == 'Enter') {
            e.preventDefault();
            window.location.href = "/search?q=" + encodeURIComponent(document.getElementById("search").value);
        }
    })

    document.onkeydown = (e) => {

        if (document.getElementById("search") !== document.activeElement) {
            if (e.key == "/") {
                e.preventDefault();
                document.getElementById("search").focus();
            }

            if (e.key == "n") {
                window.location.href = "/new";
            }

            if (e.key == "t") {
                window.location.href = "/tags";
            }
        }

        else {
            if (e.key == "Escape") {
                e.preventDefault();
                document.activeElement.blur();
            }
        }

    };
</script>