<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pico.min.css">
    <title>KM</title>
</head>

<body>
    <div class="container">
        <header>
            <h2> <a href="/"> KM</a></h2>
        </header>

        <h2>Login:</h2>
        <form autocomplete="off">
            <input type="text" name="otp" id="otp">
            <button id="submit-btn">Submit</button>
        </form>
    </div>
</body>

</html>
<script>
    document.getElementById("submit-btn").addEventListener('click', async (e) => {
        e.preventDefault();

        let otp = document.getElementById("otp").value;

        let formData = new FormData;
        formData.append('otp', otp);

        let res = await fetch("/login", {
            method: 'POST',
            body: formData,
        })

        if (res.ok) {
            window.location.href = "/";
        } else {
            window.location.reload();
        }

    })

</script>