<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pico.min.css">
    <title>KM - {{.Title}}</title>
</head>

<body>
    <div class="container">
        <header>
            <h2> <a href="/"> KM</a></h2>
        </header>
        <h4>{{.Created}} - {{range .Tags}} <a href="/tags/{{.}}">{{.}}</a> {{end}}</h4>
        <h1>{{.Title}}</h1>

        {{.HTML}}
        <!-- <div class="grid"> -->
        <a role="button" href="/edit/{{.ID}}">Edit</a>
        <br>
        <br>
        <button id="delete-btn" class="secondary" style="width: 20%">Delete</button>
        <!-- </div> -->
    </div>


    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


</body>

</html>

<script>

    document.getElementById("delete-btn").addEventListener("click", async (e) => {
        e.preventDefault();
        if (!confirm("Are you sure you want to delete?")) {
            return
        }
        let res = await fetch("/delete/{{.ID}}", {
            method: 'DELETE',
        });

        if (res.ok) {
            window.location.href = "/";
        } else {
            window.location.reload();
        }
    })

</script>