<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pico.min.css">
    <title>KM - Tags</title>
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li><strong><a href="/"> KM</a></strong></li>
                </ul>
                <ul>
                    <li>
                        <input type="text" name="search" placeholder="Search" id="search">
                    </li>
                    <li>
                        <a href="/new" role="button">New</a>
                    </li>
                </ul>
            </nav>
        </header>

        <input type="text" id="tagSearch" onkeyup="search()" style="width: 50%;" placeholder="Tags">

        <ul id="tagsList">
            {{range .}}
            <li><a href="/tags/{{.}}">{{.}}</a></li>
            {{end}}
        </ul>
    </div>
</body>

</html>
<script>
    function search() {
        // Declare variables
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('tagSearch');
        filter = input.value.toUpperCase();
        ul = document.getElementById("tagsList");
        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>